mixin s-prod-head()
	- let src= 'img/@2x/prod-1.jpg'
	mixin img()
		img.res-i(src="#" data-lazy= src, alt="")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+icon("zoom-in")
						+e.inner
							+e.slider--lg.--lg-js
								- for (var x = 0; x < 5; x++)
									+e.slide--lg
										a(href= src data-fancybox="prod-gal")
											+img()
						+e.slider--sm.--sm-js
							- for (var x = 0; x < 5; x++)
								+e.slide
									+e.img-wrap
										+img()
				.col-lg-4.col-md-6
					+e.content
						h1 Сейф Aiko T-17 EL
						+e.type Взломостойкий
						p  #[strong Характеристики]
						table
							mixin tr(t1, t2)
								tr
									td= t1
									td
										strong= t2
							+tr("Размер (ВхШхГ):","170х260х252 мм")
							+tr("Внутренний размер (ВхШхГ):","170х260х252 мм")
							+tr("Замки:","7,0 кг")
							+tr("Вес:","ключевой")
							+tr("Объем:","3,0 л")
							+tr("Взломостойкость:","S1 класс")
						p Корпус сейфа изготовлен из&nbsp;прочной стали,  которая покрыта порошковой эмалью.  Изделия можно крепить анкерным болтом  к&nbsp;полу и&nbsp;стене.
				.col-lg-4
					+e.sidebar-wrap
						+e.availability(style="color: #8ac176;") В наличии
						+b.s-prod-head-sidebar
							+e.price 2000 Р*
							ul
								li
									+icon('shipped')
									strong Доставка 
									| по&nbsp;Магнитогорску в&nbsp;день оплаты
								
								li
									+icon('credit-card')
									strong Оплата
									| Безналично: банковской картой, по&nbsp;выставленному счету.При покупке со&nbsp;склада&nbsp;&mdash; наличными или безналично.
								
								li
									+icon('guarantee')
									strong Гарантия
									| На&nbsp;корпус сейфы 5&nbsp;лет, на&nbsp;замки 1&nbsp;год.
								
								li
									+icon('vault')
									strong Помощь с установкой
									| Если нужно, поможем установить  или встроить 
							+e.btn(type="button")
								+icon('cart')
								| В корзину
						+e.footer-text *При оформлении заказа  уточняйте&nbsp;цену по&nbsp;т: #[a(href="tel:8(3519)22-00-22") 8 (3519) 22-00-22]
	// end s-prod-head

mixin s-prod-head-basket()
	- let src= 'img/@2x/prod-1.jpg'
	mixin img()
		img.res-i(src="#" data-lazy= src, alt="")
	// start s-prod-head2
	+b.s-prod-head.s-prod-head-basket&attributes(attributes)
		.container
			.row
				.col-lg-4.col-md-6#first-mobile-order
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--js
								- for (var x = 0; x < 5; x++)
									+e.slide
										a(href= src data-fancybox="prod-gal")
											+img()

				.col-lg-4.col-md-6#third-mobile-order
					h1 Сейф Aiko T-17 EL
					+e.type Взломостойкий
					p  #[strong Характеристики]
					table
						mixin tr(t1, t2)
							tr
								td= t1
								td
									strong= t2
						+tr("Размер (ВхШхГ):","170х260х252 мм")
						+tr("Внутренний размер (ВхШхГ):","170х260х252 мм")
						+tr("Замки:","ключевой")
						+tr("Вес:","7,0 кг")
						+tr("Объем:","3,0 л")
						+tr("Взломостойкость:","S1 класс")
				.col-lg-4#second-mobile-order
					+b.s-prod-head-sidebar
						+e.number
							button 
							input(type="text" placeholder="1")
							button 
						+e.amount
							| 2000 Р
						+e.remove
							button 
			.row.to-order.justify-content-end
				.col-lg-3.col-md-6
					h5 Итого без доставки
					h3 2000 Р
				.col-lg-4.col-md-6
					+e.checkout
						button Оформить заказ
						a(href="#") Доставка и оплата
	// end s-prod-head2