// start .s-prod-head
.s-prod-head-basket {
	padding-top: rem(0) !important;
	padding-bottom: rem(40);
		// .draggable {
		// 	display: none;
		// }
	h1 {
		padding-top: rem(5);
	}
	.s-prod-head-sidebar {
		background-color: transparent;
		display: flex;
		justify-content: space-between;
		@include media-breakpoint-up(md) {
			padding-top: rem(20);
			// padding-left: rem(60);
			padding-right: 0;
		}
		&__number {
			display: flex;
			align-items: flex-start;
			input {
				// margin-left: rem(3);
				// margin-right: rem(5);
				width: rem(40);
				height: rem(40);
				font-size: rem(20);
				text-align: center;
				// vertical-align: middle;
				border: 1px solid #e9e9e9;
				background-color: #fdfdfd;
			}
			button {
				position: relative;
				border: none;
				background-color: transparent;
				width: rem(40);
				height: rem(40);
				&::after, &::before {
					content: '';
					position: absolute;
					width: rem(15);
					height: 1px;
					left: rem(15);
					top: rem(20);
					background-color: #626262;
				}
				&::before {
					// left: rem(11);
					// bottom: 0;
					transform: rotate(90deg);
				}
				&::after {
				}
				&:nth-child(1) {
					&::before {
						display: none;
					}
					&::after {
						left: rem(6);
					}
				}
			}
		}
		&__amount {
			font-size: rem(24);
			font-weight: 700;
			letter-spacing: 0.48px;
			line-height: 1.7;
		}
		&__remove {
			button {
				width: rem(40);
				height: rem(40);
				font-size: rem(25);
				color: #dbdbdb;
				border: 1px solid #e9e9e9;
				background-color: transparent;
				position: relative;
				&:hover {
					color: #626262;
					@include mt;
				}
				&::after, &::before {
					content: '';
					position: absolute;
					width: rem(15);
					height: 1px;
					left: 31%;
					top: 50%;
					background-color: #dbdbdb;
					transform: rotate(45deg);
				}
				&::before {
					transform: rotate(135deg);
				}
			}
		}
	}
	.row {
		padding-bottom: rem(10);
		&:nth-child(1) {
			border-bottom: solid 1px #e9e9e9;
		}
		&:nth-child(2) {
			padding-top: rem(33);
		}
	}
	.to-order {
		font-size: rem(20);
		letter-spacing: 0.4px;
		text-align: center;
		h5 {
			padding-top: rem(8);
			font-weight: 400;
			line-height: 1.1;
			// padding-bottom: rem(10);
			text-align: right;
		}
		h3 {
			font-size: rem(24);
			font-weight: 700;
			text-align: right;

			letter-spacing: 0.48px;
		}
		button {
			margin-bottom: rem(37);
			@extend .btn-blue;
			width: 100%;
			min-height: rem(75);
			margin-bottom: rem(30);

		}

		a {
			color: $secondary;
			font-size: rem(20);
			border-bottom: 1px solid #dedede;
			&:hover {
				text-decoration: none;
			}
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.s-prod-head

