$default-font: Raleway;
$default-font2: "Open Sans";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff ttf;
$file-format2: woff2 woff;

@include font-face ($default-font2, $addr + "opensanslight/opensanslight", 300, $file-formats: $file-format2);
@include font-face ($default-font2, $addr + "OpenSansSemiBold/OpenSansSemiBold", 600, $file-formats: $file-format);
@include font-face ($default-font2, $addr + "OpenSansRegularItalic/OpenSansRegularItalic", italic, $file-formats: $file-format);
@include font-face ($default-font, $addr + "ralewayregular/ralewayregular", $file-formats: $file-format2);
@include font-face ($default-font, $addr + "ralewaylight/ralewaylight", 300, $file-formats: $file-format2);
@include font-face ($default-font, $addr + "ralewaybold/ralewaybold", bold, $file-formats: $file-format2);
@include font-face ($default-font, $addr + "RalewayMedium/RalewayMedium", 500, $file-formats: $file-format2);
@include font-face ($default-font, $addr + "ralewaysemibold/ralewaysemibold", 600, $file-formats: $file-format2);

.fw-600 {
  font-weight: 600;
}

// font-weight helper:
// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold