mixin s-info()
	// start s-info
	+b.s-info#s-info&attributes(attributes)
		.container
			+b.tabs
				+e.caption
					+e.btn.active Описание  
					+e.btn Обзор сейфа
				+e.wrap
					+e.content.active
						+e.title Сейф Aiko T17 EL
						p AIKO - очень популярная марка российского рынка домашних (мебельных) и&nbsp;офисных сейфов и&nbsp;шкафов которые также могут использоваться в&nbsp;качестве недорогих сейфов для хранения оружия, от&nbsp;крупнейшего Российского производителя. <br>Сейфы комплектуются замками, а&nbsp;также внутренними деталями и&nbsp;аксессуарами: полками, ложементами, трейзерами и&nbsp;тп.<br>Большое разнообразие сейфов и&nbsp;шкафов как по&nbsp;назначению так и&nbsp;по&nbsp;цене, оптом и&nbsp;в&nbsp;розницу с&nbsp;доставкой
					+e.content
						<iframe height="315" src="https://www.youtube.com/embed/9XaS93WMRQQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	// end s-info