mixin s-pdf()
	// start s-pdf
	+b.SECTION.s-pdf.section.lazy-background#s-pdf&attributes(attributes)
		.container
			+e.inner
				
				h2 Предпочитаете смотреть  товар&nbsp;вживую, а&nbsp;потом покупать?
				p Приезжайте к&nbsp;нам: ответим на&nbsp;все вопросы,  покажем сейфы, подберем именно&nbsp;то,  что вам нужно
				
				+e.btn(href="#") Наши контакты
				+e.img-wrap.d-none.d-sm-block
					img.res-i(src="img/@2x/s-pdf-img.png", alt="")
	// end s-pdf