mixin s-qwiz()
	// start s-qwiz
	+b.SECTION.s-qwiz.section#s-qwiz&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Ответьте на&nbsp;4&nbsp;вопроса и&nbsp;#[strong получите подборку сейфов,]  подходящих именно вам
				
			.row
	// end s-qwiz