extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-pdf/_s-pdf.pug
include ../blocks/s-steps/_s-steps.pug
include ../blocks/s-video/_s-video.pug
include ../blocks/s-shipping/_s-shipping.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Доставка и оплата'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+page-head("Главная", title)
		.text-center
			h1 Доставим ваш заказ в любую точку Магнитогорска
	+s-shipping
	+s-form()
	//- +s-video
	+footer()