extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-pdf/_s-pdf.pug
include ../blocks/s-steps/_s-steps.pug
include ../blocks/s-video/_s-video.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-step4/_s-step4.pug



block variables
	- let  mainPage= null
block title
	- let  title= 'Заказ успешно оформлен!'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-line()
		+top-nav()
	// стилизация в main
	.container.return-beginning
		a(href="#") Вернуться на сайт
	+s-step4
	+footer()