mixin s-step2()
	// start s-step2
	+b.s-step2#s-step2&attributes(attributes)
		.container
			+b.order-steps.row.text-center.align-items-center
				.col-sm-4
					a(href='#') Контактные данные
				.col-sm-4
					a.active(href='#') Доставка и оплата
				.col-sm-4
					a(href='#') Подтверждение заказа
			+b.delivery-method.row.justify-content-around
				.col-md-7
					h4 Выберите способ доставки
					+b.choose-metod
						mixin checkbox(t, n)
							div&attributes(attributes)
								+b.LABEL.metod-checkbox
									+e.INPUT.input(type="checkbox")
									+e.SPAN.lab
									+e.SPAN.title= t
						+b.form-wrap
							+checkbox("Самовывоз из магазина - Бесплатно")
							+checkbox("Доставка по Магнитогорску до места назначения - 500 руб.")
							+checkbox("Подъем в квартиру/офис (при отсутствии лифта) - 200 руб. этаж","delivery")
							+checkbox("Сборка стеллажей - 10% от стоимости","assembly")
				.col-md-5
					h4 Как хотите платить?
					mixin radio(t, n)
						div&attributes(attributes)
							+b.LABEL.metod-radio
								+e.INPUT.input(type="radio" name=n)
								+e.lab
								+e.SPAN.title= t
								block
					+b.form-wrap
						+radio("Оплата банковской картой","payment")
						+radio("Банковский платеж для юр. лиц","payment")
						+radio("Перевод на карту Сбербанка","payment")
						+radio("Наличными","payment")
							span.attention Только при покупке <br>из магазина
			+b.contact-information.row
				.col-lg-6
					h4 Введите адрес доставки
					+form-wrap
						+input("Иван","text",'Имя и фамилия',"name")(required)
						h5 Введите адрес доставки
						+input('г. Магнитогосрк, 50 Лет Октября пр., д.118, кв.124', 'textarea')(class="address")
						h5 Напишите комментарий, если хотите
						+input("Например, можно ли заказать доставку в нерабочее время" ,'textarea')
			.row.justify-content-center.bottom-button
				.col-lg-5
					+b.form-wrap
						+e.btn(type="submit") Перейти к подтверждению заказа

	// end s-step2