mixin s-catalog-menu()
	// start s-catalog-menu
	+b.s-catalog-menu#s-catalog-menu&attributes(attributes)
		.container
			.row
				mixin item(i,n)
					.col-lg-4.col-md-6
						+e.item(href="#")
							h3.text-center= i
							+e.img-wrap
								img.lazy(src="#" data-src=`img/@2x/s-variants-${n}.jpg` , alt="")
							block
				+item("Офисные и бухгалтерские","1")
					+e.DIV.hover-block
						h3.text-center Офисные и бухгалтерские
				+item("Взломостойкие","2")
					+e.DIV.hover-block
						h3.text-center Взломостойкие
						p Согласно ГОСТ <strong>взломостойкие</strong> сейфы делятся на&nbsp;11&nbsp;классов, включая нулевой&nbsp;&mdash; минимальный. Профессиональный взломщик сможет открыть такой сейф за&nbsp;пять минут, а&nbsp;на&nbsp;сейф пятого класса с&nbsp;электронным и&nbsp;ключевым замком ему потребуется от&nbsp;пяти часов до&nbsp;нескольких дней.<br><br> Сейфы <strong>нулевого и&nbsp;первого</strong> класса желательно размещать <br>в&nbsp;помещениях, уже поставленных на&nbsp;охрану.<br><br> Для сейфов <strong>второго</strong> класса дополнительная защита не&nbsp;нужна при условии их&nbsp;надежного крепления к&nbsp;стене или полу.<br><br> Сейфы <strong>с&nbsp;третьего по&nbsp;пятый</strong> класс используются для хранения особо ценного содержимого, ими пользуются даже в&nbsp;банках и&nbsp;ювелирных магазинах.<br><br> Сейфы более высокого класса выбирают для хранения крупных ценностей. Толщина стенок таких сейфов может достигать 120&nbsp;мм, вес&nbsp;&mdash; быть более тонны, и&nbsp;стоят они в&nbsp;разы дороже.
				+item("Огнестойкие","3")
					+e.DIV.hover-block
						h3.text-center Огнестойкие
						p <strong>Огнестойкие</strong> сейфы уберегут содержимое от&nbsp;пожара, но&nbsp;не&nbsp;от&nbsp;взлома. Их&nbsp;стенки изготавливают из&nbsp;материалов с&nbsp;низкой теплопроводностью, например, из&nbsp;алюминиевых пластин толщиной до&nbsp;1,5&nbsp;мм. Пространство между пластинами заполняют пенобетоном.
				+item("Взломо-огнестойкие","4")
					+e.DIV.hover-block
						h3.text-center Взломо-огнестойкие
				+item("Мебельные","5")
					+e.DIV.hover-block
						h3.text-center Мебельные
						p <strong>Мебельные</strong> сейфы устанавливаются в&nbsp;тумбы, шкафы, на&nbsp;полки и&nbsp;закрепляются специальным крепежом, чтобы их&nbsp;нельзя было унести. Они помогут спрятать ценные вещи от&nbsp;глаз посторонних, но&nbsp;не&nbsp;защитят их&nbsp;от&nbsp;взломщиков.
				+item("Встраиваемые","6")
					+e.DIV.hover-block
						h3.text-center Встраиваемые
						p <strong>Встраиваемые сейфы</strong> имеют небольшие габариты и&nbsp;монтируются в&nbsp;стену или пол. Относятся к&nbsp;взломостойким сейфам.
				+item("Оружейные","7")
					+e.DIV.hover-block
						h3.text-center Оружейные
						p Согласно Федеральному закону &#8470;&nbsp;150-ФЗ &laquo;Об&nbsp;оружии&raquo; гражданам <strong>предписано хранить огнестрельное оружие в&nbsp;запираемых сейфах</strong> или металлических ящиках и&nbsp;исключить доступ к&nbsp;ним посторонних лиц. Это касается любого огнестрельного оружия&nbsp;&mdash; травматического, гладкоствольного и&nbsp;нарезного.
				+item("Мини-сейфы для дома","8")
					+e.DIV.hover-block
						h3.text-center Мини-сейфы
						p <strong>Мини-сейфы</strong> для дома покупают, если нужно сохранить ценности от&nbsp;детей или домашних работников. Обычно их&nbsp;устанавливают и&nbsp;крепят внутри шкафов. Для защиты от&nbsp;пожара и&nbsp;взлома такие сейфы не&nbsp;помогут.
				+item("Автомобильные","9")
					+e.DIV.hover-block
						h3.text-center Автомобильные
						p Специальные маленькие сейфы крепятся под сиденье авто: <strong>из&nbsp;окна незаметны, а&nbsp;чтобы их&nbsp;выдернуть нужно время.</strong> Плюс автомобильные воришки редко имеют при себе инструменты для вскрытия сейфов, поэтому шансов на&nbsp;то, что они сумеют добраться до&nbsp;содержимого, очень мало.
	// end s-catalog-menu