mixin s-other-products()
	// start s-other-products
	+b.SECTION.s-other-products.section#s-other-products&attributes(attributes)
		.container
			h2 Вас также могут заинтересовать
			ul
				li: a(href="#") Оружейные сейфы
				li: a(href="#") Встраиваемые сейфы
				li: a(href="#") Огнестойкие сейфы
				li: a(href="#") Взломо- огнестойкие сейфы
				li: a(href="#") Мебельные сейфы
				li: a(href="#") Мини-сейфы для дома
			+e.btn(href="#") Перейти в каталог
	// end s-other-products