mixin s-category()
	// start s-category
	+b.SECTION.s-category.section#s-category&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Выберите сейф для дома или офиса
				.h3 Доставляем по&nbsp;Магнитогорску в&nbsp;день заказа&nbsp;&mdash; все модели в&nbsp;наличии
				
			.row
	// end s-category